@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Dobrodosli u prodavnicu filmova "Plavi Zabac"</h1>

        <br />
        <br />
        <br />
        <h4>
            Dobro dosli na sajt za iznajmljivanje filmova.
            Nasu ponudu mozete pogledati na stranici Filmovi
            i ako je film koji zelite na stanju mozete ga poruciti pozivom na nas kontat broj koji cete naci na nasoj kontakt strani
            ili posetom neke od nasih prodavnica
        </h4>
    </div>
